<div class="w-full h-dvh bg-linear-to-bl from-amber-500 to-yellow-400 flex flex-col justify-center items-center gap-16">
  <img src="beerjs.svg" class="max-h-1/6 absolute bottom-5 left-12 rotate-[-30deg]" />

  <div
    class="p-5 rounded-3xl shadow-2xl bg-linear-to-bl from-gray-700 to-gray-800 inset-shadow-sm inset-shadow-amber-950 bg-gray-800">
    @for(row of board; track row) {
    <div class="flex flex-row">
      @for (piece of row; track piece) {
      <div class="relative">
        <div class="w-16 h-16 m-1.5 rounded-full inset-shadow-sm inset-shadow-gray-950 bg-gray-800">
        </div>
        @if(piece != 0) {
        <div
          class="absolute top-0 w-16 h-16 z-10 m-1.5 rounded-full inset-shadow-sm rotate-180 starting:-translate-y-64 transition duration-300 ease-overshoot"
          [class.inset-shadow-amber-800]="piece == 1" [class.bg-amber-500]="piece == 1"
          [class.inset-shadow-sky-800]="piece == 2" [class.bg-sky-500]="piece == 2">
        </div>
        }
      </div>
      }
    </div>
    }
  </div>

  <div class="bg-amber-500/50 backdrop-blur-3xl p-5 rounded-full">
    @for(_ of board[0]; track index; let index = $index) {
    <button
      class="group m-1.5 w-16 h-16 rotate-180 bg-gray-700 rounded-full shadow-xl inset-shadow-gray-800 inset-shadow-sm cursor-pointer hover:scale-105 hover:shadow-2xl active:translate-y-3 transition"
      (click)="populateRandomField()">
      <span class="text-4xl text-gray-50 group-hover:text-amber-300">&#8679;</span>
    </button>
    }
  </div>
</div>